<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Login_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>Redirection.html</welcome-file>
    <welcome-file>Registration.html</welcome-file>
    <welcome-file>SuccessfullyRegister.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.bridgelabz.LoginApp.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Second</servlet-name>
    <servlet-class>com.bridgelabz.LoginApp.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Second</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
</web-app>